/*Conferidos*/

*{
    margin: 0 auto;
}

body{
    background-color: #e2e2e2;
}

.tudo{
    font-family: Arial, Helvetica, sans-serif;
}

.linha{
    clear: both;
}

#h1TituloCabecalho{
    color: #ffffff;
    font-size: 16px;
    min-width: 50%;
    text-align: left;
    float: left;
}

#DivCabecalho{
    background-color: #162e58;
    min-height: 100px;
    padding: 30px 50px 10px 50px;
    position: relative;
}

#divClassficacao{
    width: 50%;
}

.h2TituloSessao{
    font-size: 20px;
    margin: 10px 0px 10px 10px;
}

.h3TituloGrupo{
    font-size: 14px;
    padding: 5px 5px 5px 5px;
}

#tableClassificacao{
    width: 100%;
    background-color: #ffffff;
}

.ultimasCinco{
    width: 20%;
}

.tdPosicao{
    width: 3%;
    font-size: 14px;
}

.tdImgClube{
    width: 5%;
}

.ImgClube{
    width: 20px;
    height: 20px;    
}

.tdNomeClube{
    text-align: left;
}

.divVit{
    background-image: url(../img/v.svg);
    background-repeat: no-repeat;
    float: right;
    height: 16px;
    width: 16px;
    margin-right: 5px;
 }

 .divEmp{
    background-image: url(../img/e.svg);
    background-repeat: no-repeat;
    float: right;
    height: 16px;
    width: 16px;
    margin-right: 5px;
 }

 .divDer{
    background-image: url(../img/d.svg);
    background-repeat: no-repeat;
    float: right;
    height: 16px;
    width: 16px;
    margin-right: 5px;
 }

 #divGoleadores{
    width: 50%;
}

#tableGoleadores{
    width: 100%;
    background-color: #ffffff;
}

.tdJogador{
    text-align: left;
    width: 90%;
}

.spanNomeClube{
    color: darkgray;
    font-size: 12px; 
}

table, td, th{
    border-bottom: solid 1px #e2e2e2;
    border-collapse: collapse; 
    padding: 7px 7px 7px 7px;   
}

th{
    color:darkgrey;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}

td{
    font-size: 14px;
    text-align: center;
}

#ThGoleadorJogador{
    text-align: left;
    padding-left: 27px;
}

#divJogos{
    width: 50%;
    padding-bottom: 50px;
}

#tableJogos{
    width: 100%;
    background-color: #ffffff;
}

#tableJogos{
    width: 100%;
    background-color: #ffffff;
}

#tableJogos .tdTableJogos{
    padding: 10px 10px 10px 10px;
}

#tableJogos .tableJogo{
    width: 100%;
}

.tableJogo .tdClube{
    text-align: left;
    width: 80%;
}

.tableJogo .tdHorario{
    text-align: center;
    font-size: 10px;
}

#tableJogos th, #tableJogos td{
    border-bottom: 0px;
}


